interfaces
{
	source_url=aus-mark.m4v
	target_url=After.mp4
	qsource_url=http://extra.tvdramas.org:80/mylive/strpluus/mpegts
	qtarget_url=http://198.56.194.154:8080/mylive/test/mpegts
	stream_name=test
}
marks
{
	Dish
	{
		type=logo
		picture=dish.jpg
		alpha=1.0
	}
	Code
	{
		type=textbox
		text_color=0xFFFFFF
		back_color=0x0
		typical_width=30
		typical_height=20
	}
}