interfaces
{
	source_url=http://extra.tvdramas.org:80/mylive/snytv/index.m3u8
	etarget_url=http://198.56.194.154:8080/mylive/test/mpegts
	stream_name=test
	target_url=After2.mp4
}
marks
{
	Dish
	{
		type=logo
		picture=dish.jpg
		alpha=1.0
	}
	Code
	{
		type=textbox
		text_color=0xFFFFFF
		back_color=0x0
		typical_width=
		typical_height=
	}
}